/*body {*/
/*    background-image: url('../assets/images/homepage-bg.svg'); !* Relative path to your image *!*/
/*    background-repeat: no-repeat; !* Prevents the image from tiling *!*/
/*    background-size: cover; !* Scales the image to cover the entire container *!*/
/*    background-position: center; !* Centers the image *!*/
/*    background-attachment: fixed; !* Keeps the background fixed when scrolling *!*/
/*    !* Add a fallback color in case the image fails to load *!*/
/*    background-color: #f5f5f5;*/
/*}*/

.bg-wrap {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.bg-svg {
    width: 100%;
    height: 100%;
}

h1 {
    color: #ffffff !important; /* Example: changes H1 color to red */
}


h2 {
    color: #9e9e9e !important; /* Example: changes H1 color to red */
}

h3 {
    color: #fafafa !important; /* Example: changes H1 color to red */
}
